/* 覆盖 Element Plus 默认样式 */

// 使得弹窗遮罩更深一点，更有质感
.el-overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

// 修正 Button 点击后的 Focus 样式，去掉默认的蓝色光晕
.el-button:focus, .el-button:hover {
  // 让非 primary 按钮的边框和文字在 hover 时也变成 teal
  &.is-plain {
    --el-button-hover-text-color: var(--el-color-primary);
    --el-button-hover-border-color: var(--el-color-primary);
  }
}

// 侧边栏菜单样式微调
.el-menu {
  border-right: none !important;

  .el-sub-menu__title:hover,
  .el-menu-item:hover {
    background-color: var(--v3-sidebar-menu-hover-bg-color) !important;
  }
}

// 进度条颜色修正 (防止还有默认蓝)
.el-progress-bar__inner {
  transition: all 0.3s ease;
}

// 这里的定义确保暗黑模式下 Primary 颜色也是 Teal 且可视
html.dark {
  --el-color-primary: #14b8a6;
  --el-color-primary-light-3: #0f766e;
  --el-color-primary-light-5: #115e59;
  --el-color-primary-light-7: #134e4a;
  --el-color-primary-light-8: #042f2e;
  --el-color-primary-light-9: #020617;
  --el-color-primary-dark-2: #2dd4bf; // 暗黑模式下 active 稍微亮一点
}
